html,
body {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: #f8f9fa;
    font-family: arial, sans-serif;
    color: #202124;
}

html {
    scroll-behavior: smooth;
}

:root {
    --field_color: #0f9d58;
}

h1,
h2,
h3,
h4,
h4,
p,
label,
span,
div,
input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-height: 100%;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
    display: block;
    background-color: #fff;
}

.page:first-of-type {
    padding-bottom: 4rem;
}

/*
 * important notice type components
 */
.title {
    font-size: 2.4rem;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    color: #54595d;
}

/**
 * header controls
 * 
 */
.filters,
.player-header {
    display: flex;
    flex-direction: row;
}

.filters label {
    padding: 1rem 1.4rem;
}

.player-header div {
    padding: 1rem 10px;
    flex: 1;
    text-align: center;
}

#total-players {
    width: 40px;
    padding: 4px 6px;
    text-align: center;
}

.total-control {
    cursor: pointer;
}

/** Form for team names **/
.team_names {
    display: block;
    width: 100%;
    margin: 1.8rem 0;
}

.team_input_label {
    display: inline-block;
    width: 45%;
}

.team_input_label span {
    margin-left: 4px;
}

.team_input_label .team_input {
    width: 100%;
    max-width: 200px;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    outline: none;
}

/** ------------------------------- **/
.input_label_margin_btm {
    color: #1b92ea;
    display: block;
    margin-bottom: 14px;
}

.pl_label {
    margin-left: 4px;
}

.pl_label .input-instructions {
    opacity: 0;
}

.pl_label .input-instructions.visible {
    opacity: 1;
}

/*
    simple text editor for quickly creating team
*/

#players {
}

#player-text-input {
    width: 100%;
    min-height: 350px;
    resize: none;
    box-shadow: 0 1px 3px 0 rgba(53, 38, 38, 0.36);
    padding: 10px 20px;
    display: block;
    border: transparent;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 24px;
    letter-spacing: 0.2px;
}

/** the table like component to enter players */
.player {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player .player-name {
}

.player-input {
    padding: 6px 9px;
    border: 1px solid #bebebe;
    border-radius: 4px;
    margin-right: 10px;
}

/**
 * generate button
 */

#generate-button {
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #1b92ea;
    background-color: #1b92ea;
    color: #fff;
    margin: 0 auto;
    margin-top: 1.4rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
}

#generate-button:hover {
    background-color: #0c6eb9;
}

/** Teams */
.team1,
.team2 {
    font-size: 14px;
    margin-bottom: 1.4rem;
}

.team1 b,
.team2 b {
    font-size: 16px;
    text-transform: capitalize;
}
/**
 * Generate table
 * 
 */
#player-teams-table {
    width: 100%;
}

/* .field {
    width: 500px;
    background: url("./Soccer_field_-_empty.svg");
    background-size: contain;
} */

.field {
    width: 100%;
    max-width: 752px;
    background-color: var(--field_color);
}

.field_actual {
    height: 88%;
    position: relative;
}

.field_fl {
    height: 880px;
    padding: 40px;
}

.field_h {
    height: 50%;
}

.field_h > .team_info {
    background-color: #0b8449;
    color: #fff;
    height: 12%;
    font-size: 14px;
    padding: 10px 10px;
    position: relative;
}

.field_h > .team_info .team_name {
    display: inline-block;
    margin-left: 24px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;
}

.field_h > .team_info .color {
    height: 24px;
    width: 24px;
    margin-left: 24px;
    border-radius: 48%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

.field_h > .team_info .blue {
    background-color: blue;
}

.field_h > .team_info .red {
    background-color: red;
}

.field_pn_6y {
    position: absolute;
    width: 20%;
    height: 10.3%;
    margin-left: 40%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.field_pn_box {
    position: absolute;
    margin-left: 25%;
    width: 50%;
    height: 25%;
    background-color: var(--field_color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.field_pn_d {
    position: absolute;
    border-radius: 48%;
    height: 16%;
    margin-left: 40%;
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /*top: 13.6%;*/
}

.field_half_d {
    position: absolute;
    margin-left: 40%;
    width: 20%;
    height: 0;
    padding-top: 20%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.border {
    border: 1px solid #fff;
}

.field_t1_half .field_actual {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
    overflow: hidden;
}

.field_t1_half .field_half_d {
    bottom: 0;
    transform: translateY(50%) rotate(-45deg);
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.field_t1_half .field_pn_6y,
.field_t1_half .field_pn_box {
    border-top: none;
}
.field_t1_half .field_pn_d {
    top: 13.6%;
}

.field_t2_half .field_actual {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.field_t2_half .field_pn_d {
    bottom: 13.6%;
}

.field_t2_half .field_half_d {
    top: 0;
    transform: translateY(-50%) rotate(-45deg);

    border-right-color: transparent;
    border-top-color: transparent;
}

.field_t2_half .field_pn_6y,
.field_t2_half .field_pn_box {
    bottom: 0;
    border-bottom: none;
}

/** ACTUAL PLAYERS ON FIELD **/
.team1_players,
.team2_players {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 12;
}

.field_row {
    height: 25%;
    position: relative;
}

.field_row .child_container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.child_container .fl_player .circle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: black;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.team1_players .fl_player .circle {
    background-color: red;
}
.team2_players .fl_player .circle {
    background-color: blue;
}

.child_container .fl_player .circle .number {
    display: inline-block;
    line-height: 32px;
    width: 24px;
    text-align: center;
}

.child_container .fl_player .name {
    text-align: center;
}

.child_container .fl_player {
    display: inline-block;
}

*:disabled {
    cursor: not-allowed;
}
